@charset "UTF-8";

html {
  position: relative;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Mochiy Pop One', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: #333;
}

:target {
  scroll-margin-top: 130px;
}

img {
  max-width: 100%;
  border-radius: 3px;
  box-shadow: 1px 10px 10px 1px rgb(228 228 228 / 50%);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 66px;
  padding-top: 98px;

}

.header {
  position: absolute;
  top: 0;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  width: 100%
}

.site_name {
  font-size: 22px;
  letter-spacing: 0.15em;
  line-height: 3;
  font-weight: bold;
  font-style: italic;
  margin-left: 40px;
}


.gnav {
  display: flex;
  background-color: #565454;
  color: #fff;
}

.gnav_item {
  font-size: 16px;
  line-height: 3;
  padding: 0 50px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.gnav_item:nth-child(5) {
  margin-right: 0;
}

.new_section {
  margin-top: 40px;
}

.new_section_list {
  display: flex;
  justify-content: space-between;
}

.new_section-item {
  width: 32%;
}

.new_title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
  letter-spacing: 0.1em;
}

.READ_MORE {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.READ_MORE a {
  background-color: #565454;
  color: #fff;
  padding: 8px;
  transition: all 0.3s;
  border-radius: 3px;
}

.READ_MORE a:hover {
  background-color: #898989;
}


.section_main {
  margin-bottom: 35px;
}

.container.wrapper {
  display: flex;
}

.main__Aria {
  width: 68%;
}



.sub__Aria-profile {
  text-align: center;
}


.sub__Aria {
  width: 30%;
  margin-left: 45px;
}

.profile__img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.main-title {
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.Date_Category {
  display: flex;
  margin: 10px 0;
}

.Date_Category-time {
  margin-right: 20px;
}

.main__text-container {
  margin: 0 auto;
  padding: 0 35px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.main-text {
  margin-bottom: 30px;
  letter-spacing: 0.1em;
  line-height: 1.3;
  font-size: 16px;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 33px;
}

.sub__Aria-Ranking {
  margin-bottom: 50px;
}

.profile-text {
  font-size: 14px;
}

.sub__Aria-profile {
  margin-bottom: 40px;
}

.Main_title {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 18px;
  margin-bottom: 26px;
}

.sub__Aria-Ranking-text {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.Archive__item {
  border-bottom: 1px solid #333;
  line-height: 4;
  padding-left: 20px;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.Archive__item:nth-child(1) {
  border-top: 1px solid #333;
}

.footer {
  background-color: #565454;
}

.footer__inner {
  display: flex;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: space-between;
  color: #fff;
  padding-top: 20px;
}

.footer__list-About {
  width: 33%;
}


.footer__list-text {
  font-size: 14px;
  line-height: 2;
}

.footer__list-Menu {
  border-bottom: 1px solid #fff;
  line-height: 3;
  padding-left: 20px;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.footer__list-Menu:nth-child(2) {
  border-top: 1px solid #fff;
}

.footer__list-text-copy {
  font-size: 12px;
  line-height: 2;
  margin-top: 10px;
}



.footer__Main_title {
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 18px;
  margin-bottom: 26px;
}

.footer__list-About:nth-child(3) {
  margin-left: 50px;
}

@media screen and (max-width: 767px) {

   .container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 22px;
    padding-top: 98px;
  }
  .site_name {
    font-size: 28px;
  }

  .gnav_item {
    line-height: 2;
    padding: 0 12px;
    margin-left: 2px;
  }

  .new_section_list {
    flex-direction: column;
  }

  .new_section-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .container.wrapper {
    flex-direction: column;
  }

  .main__item {
    width: 100%;
  }

  .main__Aria {
    width: 100%;
  }

  .main-title {
    font-size: 20px;
  }

  .main__text-container {
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .sub__Aria {
     width: 100%;
     margin-left: 0;
  }

  .profile-name {
    font-size: 22px;
  }

  .Main_title {
    font-size: 22px;
  }

  .sub__Aria-Ranking-text {
    margin-top: 10px;
  }

  .sub__Aria-Ranking-item {
    margin-bottom: 12px 0;
  }

  .footer__inner {
    flex-direction: column;
  }
  
  .footer__list-About {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .footer__list-About:nth-child(3) {
     margin-left: 0px; 
  }
  
  .footer__list-text-copy {
    display: none;
  }
  
  .sp__footer__list-text-copy {
    text-align: center;
    color: #fff;
    letter-spacing: 0.2em;
  }



}

@media screen and (max-width: 450px) {

  .gnav_item {
    line-height: 2;
    padding: 0 5px;
    margin-left: 2px;
  }
}